.item {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.item:last-child {
    margin-bottom: 0;
}

.left {
    flex-basis: 50%;
}

.right {
    flex-basis: 50%;
}

.descr {
    margin-top: 8px;
    color: var(--blue-2);
    max-width: 370px;
}

.divider {
    margin-left: 5px;
    margin-right: 5px;
}

.notFlex {
    align-items: center;
    margin-bottom: 16px;
}

.notFlex > div {
    flex-basis: auto;
    margin-right: 8px;
}

.notFlex > p {
    flex-basis: auto;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}