.container {
    flex-grow: 2;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    text-align: center;
}

.title {
    margin-top: 32px;
    margin-bottom: 24px;
}

.subtitle {
    width: 450px;
}