body {
    --blue: #0B193D;
    --white: #fff;
    --white-50: rgba(255, 255, 255, .5);
    --white-25: rgba(255, 255, 255, .25);
    --gray: #F0F2F4;
    --gray-2: #E1E5E9;
    --blue-50: rgba(11, 25, 61, .5);
    --blue-hover: #6C758A;
    --blue-pressing: #050C1E;
    --black-25: rgba(33, 33, 33, 0.25);
    --gold: #F2BA2D;
    --gold-hover: #F7D581;
    --gold-pressing: #795D16;
    --secondary: #858C9E;
    --red: #FF5454;
    --red-50: #FFD4D4;
    --blue-25: rgba(11, 25, 61, .25);
    --link: #0F4C81;
    --green-15: rgba(46, 126, 40, .15);
    --blue-2: #858C9E;
    --green: #2E7E28;
    --black: #212121;
}