@font-face {
  font-family: "GothamBook";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Gotham-Book.ttf) format("truetype");
  font-display: auto;
}

@font-face {
  font-family: "GothamMedium";
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/Gotham-Medium.ttf) format("truetype");
  font-display: auto;
}

@font-face {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/Gotham-Bold.ttf) format("truetype");
  font-display: auto;
}
