.typo-56-67-500 {
    font-size: 56px;
    line-height: 67px;
    font-weight: 500;
    font-family: "GothamMedium";
}

.typo-32-38-700 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-family: "GothamBold";
}

.typo-24-29-500 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    font-family: "GothamMedium";
}

.typo-20-24-700 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: "GothamBold";
}

.typo-20-24-500 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-family: "GothamMedium";
}

.typo-16-19-500 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-family: "GothamMedium";
}

.typo-16-19-400 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.typo-16-24-400 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.typo-14-17-500 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    font-family: "GothamMedium";
}

.typo-14-17-400 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.typo-14-24-400 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.typo-12-14-500 {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    font-family: "GothamMedium";
}

.typo-12-14-400 {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}