.navlink {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 24px;
    color: var(--white);
    background-color: transparent;
    transition: .3s;
    line-height: 17px;
}

.navlink:hover {
    background-color: var(--white);
    transition: .3s;
    color: var(--blue);
}

.active {
    background-color: var(--white);
    transition: .3s;
    color: var(--blue);
}